<!DOCTYPE html>
<html>

<head>
    <title>Statboard - Personal Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js" integrity="sha256-+q+dGCSrVbejd3MDuzJHKsk2eXd4sF5XYEMfPZsOnYE="
        crossorigin="anonymous"></script>
</head>

<body>
    {{range .}}
    <center>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <h1>{{.ChartName}}</h1>
            {{.ChartJS}}
        </div>
    </center>
    <br>
    <br>
    <br>
    {{end}}
</body>

</html>